.certificate-container {
    page-break-inside: avoid;

    @media print {
        border: none !important;
        box-shadow: none !important;
        margin: 0;
        padding: 20mm !important;

        h3, h4, h5, h6 {
            page-break-after: avoid;
        }
    }
}
